
{% extends 'listing.html' %}

{% block body %}
{% for message in messages %}
<div>
  <div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
    <strong>Message: </strong>{{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endfor %}

<div class="container">
  <div class="row">
      <div class="col-12">
        <!-- Page title -->
        <div class="my-5">
          <h3>My Profile</h3>
          <hr>
        </div>
        <!-- Form START -->
        {% if pre_post %}
          {% for i in pre_post %}
        <form class="file-upload"action="/dashboard/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row mb-5 gx-5">
            <!-- Contact detail -->
            <div class="col-xxl-8 mb-5 mb-xxl-0">
              <div class="bg-secondary-soft px-4 py-5 rounded">
                <div class="row g-3">
                  <h4 class="mb-4 mt-0">Contact details</h4>
                  
                  <!-- First Name -->
                  <div class="col-md-6">
                    <label class="form-label">First Name *</label>
                    <input type="text" class="form-control" value="{{i.fname}}" aria-label="First name" id="fname" name="fname" pattern="^[a-zA-Z]+$" title="Only Characters will be valid">
                  </div>
                  <!-- Last name -->
                  <div class="col-md-6">
                    <label class="form-label">Last Name *</label>
                    <input type="text" class="form-control" value="{{i.lname}}" aria-label="Last name" id="lname" name="lname"pattern="^[a-zA-Z]+$" title="Only Characters will be valid">
                  </div>
                  <!-- Phone number -->
                  <div class="col-md-6">
                    <label class="form-label">Address *</label>
                    <input type="text" class="form-control" value="{{i.address}}" aria-label="Address" id ="address" name="address">
                  </div>
                  <!-- Mobile number -->
                  <div class="col-md-6">
                    <label class="form-label">Mobile number *</label>
                    {% if not i.phone %}
                    <input type="number" class="form-control" value="" aria-label="Phone number" id="mobile_no" name="mobile_no">
                    {% else %}
                    <input type="number" class="form-control" value="0{{i.phone}}" aria-label="Phone number" id="mobile_no" name="mobile_no">
                    {% endif %}
                  </div>
                  <!-- Email -->
                  <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email *</label>
                    <input type="email" class="form-control" id="email" value="{{i.email}}" name="email">
                  </div>
                  <div class="col-md-6">
                    <label for="inputEmail4" class="form-label pb-2" >Gender</label>
                    <br>
                    {% if i.gender == "male" %}
                    <label class="radio-inline px-3">
                      <input type="radio" name="gender" id="male" value="male" checked>
                      <span class="form-check-label" for="male">Male</span>
                    </label>
                    <label class="radio-inline px-3">
                      <input type="radio" name="gender" id="female" value="female">
                      <span class="form-check-label" for="female">Female</span>
                    </label>
                    {% elif i.gender == "female" %}
                    <label class="radio-inline px-3">
                      <input type="radio" name="gender" id="male" value="male">
                      <span class="form-check-label" for="male">Male</span>
                    </label>
                    <label class="radio-inline px-3">
                      <input type="radio" name="gender" id="female" value="female" checked>
                      <span class="form-check-label" for="female">Female</span>
                    </label>
                    {% else %}
                    <label class="radio-inline px-3">
                      <input type="radio" name="gender" id="male" value="male">
                      <span class="form-check-label" for="male">Male</span>
                    </label>
                    <label class="radio-inline px-3">
                      <input type="radio" name="gender" id="female" value="female">
                      <span class="form-check-label" for="female">Female</span>
                    </label>

                    {% endif %}
                  </div>
                  
                  
                </div>
              </div>
              
            </div>          
            <!-- Upload profile -->
            <div class="col-xxl-4">
              <div style="text-align: center;font-weight:800;">Upload Profile Picture</div>
              <div class="avatar-wrapper" id="test">
                <img class="profile-pic"  src="/media/{{i.owner_image}}"/>
                <div class="upload-button">
                  <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                </div>
                <input class="file-upload" type="file" accept="image/*" id="owner_image" name="owner_image">
              </div>
            </div>
            <div class="gap-3 d-md-flex justify-content-md-end text-center pt-4">
               
              <button type="submit" class="btn btn-outline-success btn-md">Update profile</button>
            </div>
          </div>
        </form>
</div>

        {% endfor %}
        {% else %}
        <form class="file-upload"action="/dashboard/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row mb-5 gx-5">
            <!-- Contact detail -->
            <div class="col-xxl-8 mb-5 mb-xxl-0">
              <div class="bg-secondary-soft px-4 py-5 rounded">
                <div class="row g-3">
                  <h4 class="mb-4 mt-0">Contact details</h4>
                  
                  <!-- First Name -->
                  <div class="col-md-6">
                    <label class="form-label">First Name *</label>
                    <input type="text" class="form-control" value="" aria-label="First name" id="fname" name="fname">
                  </div>
                  <!-- Last name -->
                  <div class="col-md-6">
                    <label class="form-label">Last Name *</label>
                    <input type="text" class="form-control" value="" aria-label="Last name" id="lname" name="lname">
                  </div>
                  <!-- Phone number -->
                  <div class="col-md-6">
                    <label class="form-label">Address *</label>
                    <input type="text" class="form-control" value="" aria-label="Address" id ="address" name="address">
                  </div>
                  <!-- Mobile number -->
                  <div class="col-md-6">
                    <label class="form-label">Mobile number *</label>
                    {% if not i.phone %}
                    <input type="text" class="form-control" value="" aria-label="Phone number" id="mobile_no" name="mobile_no">
                    {% else %}
                    <input type="text" class="form-control" value="" aria-label="Phone number" id="mobile_no" name="mobile_no">
                    {% endif %}
                  </div>
                  <!-- Email -->
                  <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email *</label>
                    <input type="email" class="form-control" id="email" value="" name="email">
                  </div>
                  <div class="col-md-6">
                    <label for="inputEmail4" class="form-label pb-2" >Gender</label>
                    <br>
                    {% if i.gender == "male" %}
                    <label class="radio-inline px-3">
                      <input type="radio" name="gender" id="male" value="male" checked>
                      <span class="form-check-label" for="male">Male</span>
                    </label>
                    <label class="radio-inline px-3">
                      <input type="radio" name="gender" id="female" value="female">
                      <span class="form-check-label" for="female">Female</span>
                    </label>
                    {% elif i.gender == "female" %}
                    <label class="radio-inline px-3">
                      <input type="radio" name="gender" id="male" value="male">
                      <span class="form-check-label" for="male">Male</span>
                    </label>
                    <label class="radio-inline px-3">
                      <input type="radio" name="gender" id="female" value="female" checked>
                      <span class="form-check-label" for="female">Female</span>
                    </label>
                    {% else %}
                    <label class="radio-inline px-3">
                      <input type="radio" name="gender" id="male" value="male">
                      <span class="form-check-label" for="male">Male</span>
                    </label>
                    <label class="radio-inline px-3">
                      <input type="radio" name="gender" id="female" value="female">
                      <span class="form-check-label" for="female">Female</span>
                    </label>

                    {% endif %}
                  </div>
                  
                  
                </div>
              </div>
              
            </div>          
            <!-- Upload profile -->
            <div class="col-xxl-4">
              <div style="text-align: center;font-weight:800;">Upload Profile Picture</div>
              <div class="avatar-wrapper" id="test">
                <img class="profile-pic"  src=""/>
                <div class="upload-button">
                  <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                </div>
                <input class="file-upload" type="file" accept="image/*" id="owner_image" name="owner_image">
              </div>
            </div>
            <div class="gap-3 d-md-flex justify-content-md-end text-center pt-4">
               
              <button type="submit" class="btn btn-outline-success btn-md">Update profile</button>
            </div>
          </div>
        </form>
</div>

        
        {% endif %}

 
      </div>
  
  </div>
</div>



<div class="container pt-3">
  <div class="row">
      <div class="col-12">
        <!-- Page title -->
        <div class="my-5">
          <h3>Ads Details</h3>
          <hr>
        </div>
      </div>
    </div>
</div>

<div class="container" style="text-align: center;">
  <table class="table table-bordered table-responsive">
    <thead>
      <tr style="background-color:whitesmoke;">
        
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col" colspan="2">House_ID</th>
        <th scope="col">Status</th>
        
      </tr>
      {% for i in dash %}
      <tr>
        <th scope="col">{{i.category}}</th>
        <th scope="col">{{i.price}}</th>
        <th scope="col"><input value="{{i.house_id}}" disabled></th>
        <th scope="col"><a href="/custom/{{i.house_id}}" style="text-decoration: none;">Click</a></th>
        {% if i.value == 'avail' %}
        <th scope="col" style="color: rgb(113, 113, 175);">Available</th>
        {% elif i.value == 'paid' %}
        <th scope="col" style="color: green;">Paid</th>
        {% else %}
        <th scope="col" style="color:rgb(224, 170, 69);">Pending</th>
        {% endif %}
      </tr>
      {% endfor %}
    </thead>
    
  </table>
</div>


<script src="/static/js/filter.js"></script>


{% endblock body%}