{% extends 'listing.html' %}
{% block body %}

<div class="house-details">
    <div class="house-title">
        <h1 style="text-transform:uppercase;">{{selected_house.category}}</h1>
        <div class="row">

        </div>
    </div>
   
    <div class="gallery">
        <div class="gallery-img-1"><img src="/media/{{selected_house.image1}}"></div>
        <div><img src="/media/{{selected_house.image2}}"></div>
        <div><img src="/media/{{selected_house.image4}}"></div>
        <div><img src="/media/{{selected_house.image1}}"></div>
        <div><img src="/media/{{selected_house.image3}}"></div>
    </div>
    
    <div class="small-details">
        <h2>Entire rental unit hosted by {{selected_house.username}}</h2>
        <p>2 guest &nbsp;&nbsp;2 beds &nbsp;&nbsp; 1 bathroom </p>
        <h4>TK {{selected_house.price}} / month</h4>
        <h4><button type="submit" style="border-radius: 5px;margin:5px;padding:5px;background-color:black;color:white;">Check Availability</button></h4>
    </div>

    <hr class="line">
    <div style="font-size:20px">
      {{selected_house.description}}
    </div> 
    

    <ul class="details-list">
        <li><i class="fa-solid fa-house"></i>Entire Home
            <span>You will have the entire flat for you.</span>
        </li>
        <li><i class="fa-solid fa-paintbrush"></i>Enhanced Clean
            <span>This host has committed the staybnb's cleaning process.</span>
        </li>
        <li><i class="fa-solid fa-location-dot"></i>Great Location
            <span>90% of recent guest gave the location a 5 star rating.</span>
        </li>
        <li><i class="fa-solid fa-heart"></i>Great Check-in Experience
            <span>100% of recent guest gave the check-in process a 5 star rating.</span>
        </li>
    </ul>
    <hr class="line">

    <div class="map">
        <div class="row">
            <h2>Address</h2>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Division</h5>
                  <p class="card-text">{{selected_house.division}}</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">District</h5>
                    <p class="card-text">{{selected_house.district}}</p>
                    
                  </div>
                </div>
              </div>
            <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Upazilla</h5>
                    <p class="card-text">{{selected_house.thana}}</p>
                    
                  </div>
                </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Union Council</h5>
                  <p class="card-text">{{selected_house.union}}</p>
                  
                </div>
              </div>
            </div>
            
          </div>
        
    </div>
    
    <hr class="line">
    {% for i in host %}
    <div class="host">
        <img src="/media/{{i.owner_image}}">
        <div>
            <h2>Hosted by {{i.username}}</h2>
            <p>
                <span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-alt"></i>
                </span>
                &nbsp;&nbsp;&nbsp;&nbsp; Response rate 100% &nbsp;&nbsp;&nbsp;Response time: 60mins
            </p>
        </div>
    </div>
    <br>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Contact with Host
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{i.username}}'s details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Name: {{i.fname}}
          {{i.lname}}<br>
          Address: {{i.address}}<br>
          {% if not i.phone %}
          Contact: <br>
          {% else %}
          Contact: 0{{i.phone}}<br>
          {% endif %}
          Email: {{i.email}}<br>
          Gender: {{i.gender}}
        </div>
        
      </div>
    </div>
  </div>
  {% endfor %}
    

</div>

<div class="pt-5"></div>

{% endblock body %}